//colors palette
$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;
$color-heading-text: #1b0760;
$color-body-text: #918ca4;
$color-darker-body-text: #5c5577;
$color-border: #ccc;
$padding-vertical: 6rem;
$border-radius: 30px;
$laptop-width: 1024px;
$Ipad-width: 768px;
$max-mobile-width: 516px;
$min-mobile-width: 0;
