@import "./variables";
@import "./resets";

// Links start

.link-arrow {
  color: $color-accent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  &::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.25s;
  }
  &:hover::after {
    margin-left: 10px;
  }
  @include laptop-version() {
    font-size: 1.5rem;
  }
}

// links end
// Badges start

.badges {
  border-radius: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  white-space: nowrap;
  @include laptop-version() {
    font-size: 1.2rem;
  }
}
.badge--primary {
  margin-left: 5px;
}
.badge--secondary {
  background-color: $color-secondary;
  font-size: 2rem;
  @include ipad-version() {
    font-size: 1.5rem;
  }
}

// Badges end
// Lists start

.list {
  list-style: none;
  padding-left: 0;
  color: $color-heading-text;
  display: flex;
}
.list--inline {
  flex-direction: row;
  .list__item {
    margin-right: 2rem;
  }
}

.list--tick {
  flex-direction: column;
  list-style-image: url(/public/icons/tick.svg);
  padding: 0 3rem;
  font-weight: 600;

  .list__item {
    padding-left: 0.5rem;
    margin-bottom: 2rem;

    @include laptop-version() {
      padding-left: 0;
    }
  }
}

// Lists end
//Icons start

.icon {
  width: 4rem;
  height: 4rem;
}
.icon--primary {
  fill: $color-primary;
}
.icon--white {
  fill: #fff;
}

.icon-contianer {
  border-radius: 100%;
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

//Icons end
//Input start

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  outline: none;
  color: $color-heading-text;
  &::placeholder {
    font-size: 2rem;
    color: #cdcbd7;
    font-weight: 300;
    @include laptop-version() {
      font-size: 1.5rem;
    }
  }
}

//Input end
// Buttons start

.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  padding: 1.6rem 3vw;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  @include laptop-version() {
    font-size: 1.5rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
  }
}

.btn--secondary {
  background-color: $color-secondary;
  color: #fff;
  text-shadow: 0 0 0 #fff;
  font-weight: bold;
  transition: background 0.15s;
  &:hover {
    background-color: darken($color: $color-secondary, $amount: 2%);
    color: darken($color: #fff, $amount: 2%);
  }
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
.btn--block {
  width: 100%;
  font-weight: 600;
  display: inline-block;
}
.btn--outline {
  background-color: #fff;
  border: 2px solid $color-heading-text;
  color: $color-heading-text;
  transition: background 0.15s;
  &:hover {
    background-color: $color-heading-text;
    color: #fff;
  }
}
.btn--primary {
  background-color: $color-heading-text;
  color: #fff;
  transition: background 0.15s;
  &:hover {
    background-color: darken($color: $color-heading-text, $amount: 2%);
    color: darken($color: #fff, $amount: 2%);
  }
}
.btn--accent {
  background-color: $color-accent;
  font-weight: bold;
  color: #fff;
  transition: background 0.15s;
  &:hover {
    background-color: darken($color: $color-accent, $amount: 2%);
    color: darken($color: #fff, $amount: 2%);
  }
}

// Buttons end
// Input Groups start

.input-group {
  border-radius: $border-radius;
  display: flex;
  .input {
    border: none;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    width: 0;
  }
  .btn {
    margin: 4px;
  }
}

// Input Groups end
// cards start

.card {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #f3f3f3;
}
//main card
.card--popular {
  .card__body {
    padding: 0 4.5rem;
  }
  .card__footer {
    padding: 2rem 4.5rem;
  }
  .card--img-top {
    background-color: $color-primary;
    margin-bottom: 3rem;
    padding: 1rem;
  }
  .badge--primary {
    background: #126de4;
  }
}
.card--secondary {
  @extend .card--popular;
  .card--img-top {
    background-color: $color-secondary;
  }
  .badge--primary {
    background: #02cdf1;
  }
}
//callout card
.card--primary {
  background-color: $color-primary;
  padding: 6rem;
  box-shadow: none;
}

// cards end
// plans satrt

.plans {
  margin: 4rem 2rem;
  transition: transform 0.3s ease-out;
  &--center {
    justify-content: center;
    align-content: center;
  }
  .card__header {
    padding: 3rem;
  }
  .btn {
    padding: 2rem 0;
  }
  &:hover {
    transform: scale(1.05);
  }
}
.plan__name {
  color: #fff;
  font-size: 2.4rem;
}
.plan__price {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}
.plan__billing-cycle {
  color: #fff;
  opacity: 0.8;
}
.plan__description {
  color: #fff;
  font-size: 2rem;
}
.plan--popular {
  transform: scale(1.05);
  &:hover {
    transform: scale(1.08);
  }
  .card__header {
    position: relative;
    &::before {
      content: url(/public/icons/popular.svg);
      width: 40px;
      position: absolute;
      top: -6px;
      right: 5%;
    }
  }
}
@media screen and (max-width: 391px) {
  .plans {
    margin: 0;
    transform: scale(0.8);
    &:hover {
      transform: scale(0.82);
    }
  }

  .plan--popular {
    transform: scale(0.82);

    &:hover {
      transform: scale(0.85);
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .plans {
    margin: 5rem 0;
    transform: scale(1.1);
    &:hover {
      transform: scale(1.2);
    }
  }

  .plan--popular {
    transform: scale(1.2);

    &:hover {
      transform: scale(1.3);
    }
  }
}

@include ipad-version() {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}
// plans end
//media start

.media {
  @include flex-to-inline();
  &__title {
    margin-top: 0;
  }
  &__body {
    margin-left: 2rem;
  }
  &__img {
    margin-top: 1.5rem;
  }
}

//media end
// Quotes strat

.quote {
  font-size: 3rem;
  font-style: italic;
  color: $color-darker-body-text;
  line-height: 1.3;
  &__text::after {
    content: close-quote;
  }
  &__text::before {
    content: open-quote;
  }
  .media__img {
    margin: 0;
  }
  &__company {
    color: $color-heading-text;
    font-size: 2rem;
    opacity: 40%;
    font-style: normal;
  }
  &__author {
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-bottom: 0;
  }
}

@include laptop-version() {
  .quote {
    font-size: 2.4rem;
    &__company {
      font-size: 1.6rem;
    }
    &__author {
      font-size: 2.4rem;
    }
  }
}

// Quotes end
//Grids start

.grid {
  display: grid;
}
@include ipad-version() {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include laptop-version() {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Grids end
// Testimonial start

.testimonial {
  margin: 3rem;
  &__img {
    height: 100%;
    width: 100%;
  }
  &__body {
    @include flex-to-inline {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__header {
    position: relative;
    padding: 1rem 6rem;
    .icon-contianer {
      position: absolute;
      top: 3rem;
      right: 32px;
      background-color: $color-accent;

      .icon {
        fill: #fff;
        width: 30px;
        height: 30px;
      }
    }
    @include ipad-version() {
      padding: 3rem;
      .icon-contianer {
        right: 0;
        top: 6rem;
      }
    }
  }
  .quote {
    @include ipad-version() {
      font-size: 2.4rem;
      margin-left: 6rem;
      &__company {
        font-size: 1.6rem;
      }
      &__author {
        font-size: 2.4rem;
      }
    }
  }
}

// Testimonial end
//callout satrt
.callout {
  .card__footer {
    @include flex-to-inline();
    justify-content: center;
    align-items: center;
  }
  &__heading,
  &__content {
    color: #fff;
    text-align: center;
    @include laptop-version() {
      text-align: left;
    }
  }
  @include ipad-version() {
    .grid--1x2 {
      grid-template-columns: 1fr auto;
    }
    .card__footer {
      justify-content: start;
      margin-left: 2rem;
    }
  }
}

//callout end
//collabsible start

.collapsible {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    transform: rotate(-90deg);
    transition: all 0.3s;
  }
  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  &--expanded {
    .collapsible__icon {
      transform: rotate(0);
    }
    .collapsible__content {
      max-height: 100vh;
      opacity: 1;
    }
  }
}

//collabsible end
//Block start

.block {
  padding: $padding-vertical 2rem;
}
.block__header {
  text-align: center;
}
.block__heading {
  margin-top: 0;
}
.block--dark {
  background-color: #000;
  color: #7b858b;
}
.block--skewed-right {
  padding-bottom: $padding-vertical + 4rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: $padding-vertical + 4rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

//Block end
//Navigation Bar start

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  @include ipad-version() {
    .collapsible__content {
      max-height: 100vh;
      opacity: 1;
    }
    .navbar__icon {
      display: none;
    }
    .navbar__list {
      width: auto;
      display: flex;
    }
    .navbar__item {
      border: none;
      font-size: 1.6rem;
    }
  }
  &__icon {
    fill: #fff;
    margin: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.25s;
  }
  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  &__item {
    border-bottom: 1px solid #222;
    padding: 0.5rem 2rem;
    > a {
      color: #d2d0db;
      transition: color 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }
  &__brand {
    transform: translateY(5px);
  }
}
.collapsible--expanded {
  .navbar__icon {
    opacity: 1;
    box-shadow: 0 0 10px 2px #666;
    border-radius: 5px;
  }
}

//Navigation Bar end
//Hero start

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  &__heading {
    font-size: 5rem;
    color: #fff;
  }
  &__text {
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
  }
  &__banner {
    width: 100%;
  }
}
@include ipad-version() {
  .hero {
    padding-top: 0;
    &__content {
      text-align: left;
    }
    &__heading {
      font-size: 7rem;
    }
    &__grid {
      align-items: center;
    }
  }
}

//Hero end
//Domain start

.domain {
  &__heading {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 2rem;
  }
  &__input-group {
    // justify-content: space-between;
    box-shadow: 0 0 30px 20px #e6ebee;
    margin: 4rem auto;
    @include ipad-version() {
      max-width: 670px;
    }
  }
  &__list {
    padding: 0;
    list-style-type: none;
    font-size: 2rem;
    color: $color-heading-text;
    font-weight: 600;
    @include ipad-version() {
      font-size: 1.5rem;
      max-width: 730px;
    }
    .domain__item {
      white-space: nowrap;
      margin: 0 1rem;
      padding: 1rem;
    }
  }
}
.block.domain {
  padding: 6rem 0;
}
.grid--2x3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  margin: 4rem auto;
  justify-items: center;
  align-items: center;
  @include ipad-version() {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: 6rem;
  }
}
@include small-mobile-version() {
  .grid--3x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

//Domain end
//Plan Block start

.block-plan {
  .card {
    max-width: 500px;
    margin: 2rem auto;
    @include small-mobile-version() {
      margin: 0;
    }
  }
  &__header {
    white-space: nowrap;
  }
}

//Plan Block end
//feature block satrt

.features {
  gap: 4rem 2rem;
  margin: 12rem 0;
  &__img {
    width: 100%;
  }
  &--easy {
    margin-top: 9rem;
  }
}
@include ipad-version() {
  .features:nth-child(even) .features--content {
    order: 2;
  }
  .features--easy {
    margin-top: 5rem;
  }
}

//feature block end
//showcase block satr

.block-showcase {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  .block__heading {
    color: #fff;
  }
}
.showcase {
  gap: 4rem;
  justify-content: center;
  align-content: center;
  padding-bottom: 2rem;
  &__img > img {
    width: 100%;
  }

  &__list {
    padding-right: 3rem;
    list-style-type: none;
  }
}
@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: center;
  }

  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
}

//showcase block end
//testimonial block start

.block-testimonial {
  margin-top: 5rem;
}

//testimonial block end
//Fotter block satrt
.block-footer {
  background-color: #232323;
  position: relative;
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  &__brand {
    order: 5;
    text-align: center;
    margin-top: 7rem;
  }
  &__collapsible {
    border-bottom: 1px solid #393939;
    padding: 2rem 0;
  }
  &--list {
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
    a {
      color: inherit;
      transition: color 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }
  &__heading {
    color: #fff;
    font-size: 3rem;
  }
}
@include laptop-version() {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 0;
    &__brand {
      order: unset;
      margin: 2rem;
      font-size: 1.5rem;
      img {
        width: 110%;
      }
    }
    .collapsible__content {
      opacity: 1;
      max-height: 100vh;
    }
    &__icon {
      display: none;
    }
    &__collapsible {
      border: 0;
      font-size: 1.5rem;
      margin: 0 2rem;
    }
    &__heading {
      font-size: 1.6rem;
    }
  }
  .block-footer {
    padding: 6rem 0;
  }
}

//Fotter block end
//callout signup satrt

.callout-signup {
  transform: translateY(5rem);
  position: relative;
  margin: 0 30px;
  bottom: -100px;
  z-index: 1;
  @include ipad-version(){
    margin: 0 auto;
  }
}

//callout signup end