@import "./variables";
@import "./resets";

// Links start

.link-arrow {
  color: $color-accent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  &::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.25s;
  }
  &:hover::after {
    margin-left: 10px;
  }
  @include laptop-version() {
    font-size: 1.5rem;
  }
}

// links end
