 <footer class="block block--dark block-footer">
      <div class="callout container block-footer__callout">
        <article class="card card--primary grid grid--1x2">
          <div class="callout__content">
            <div class="card__header callout__header">
              <h2 class="callout__heading">Ready To Get Started?</h2>
            </div>
            <div class="card__body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
                delectus molestiae unde numquam vel non asperiores nobis libero
              </p>
            </div>
          </div>
          <div class="card__footer">
            <button class="btn btn--secondary btn--stretched">buy now</button>
          </div>
        </article>
      </div>
      <article class="container footer">
        <div class="footer__brand">
          <div><img src="./public/icons/logo.svg" alt=" " /></div>
          <div>
            <p class="footer__copyright">copyright &copy; 2020 mosh</p>
          </div>
        </div>
        <div class="footer__collapsible">
          <article class="collapsible">
            <header class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
              <span class="footer__icon">
                <img
                  src="./public/icons/chevron.svg"
                  alt=" "
                  class="icon collapsible__icon"
                />
              </span>
            </header>
            <div class="collapsible__content">
              <ul class="footer--list">
                <li><a href="#">WordPress Hosting </a></li>
                <li><a href="#">Free Automated WordPress </a></li>
                <li><a href="#">Migrations </a></li>
                <li><a href="#">Domain Names </a></li>
                <li><a href="#">Monthly Web Hosting</a></li>
              </ul>
            </div>
          </article>
        </div>
        <div class="footer__collapsible">
          <article class="collapsible">
            <header class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">COMPANY</h2>
              <span class="footer__icon">
                <img
                  src="./public/icons/chevron.svg"
                  alt=" "
                  class="icon collapsible__icon"
                />
              </span>
            </header>
            <div class="collapsible__content">
              <ul class="footer--list">
                <li><a href="#">About </a></li>
                <li><a href="#">Affiliates</a></li>
                <li><a href="#">Blog </a></li>
                <li><a href="#">Careers </a></li>
                <li><a href="#">Community </a></li>
                <li><a href="#">News </a></li>
                <li><a href="#">Green Hosting </a></li>
              </ul>
            </div>
          </article>
        </div>
        <div class="footer__collapsible">
          <article class="collapsible">
            <header class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
              <span class="footer__icon">
                <img
                  src="./public/icons/chevron.svg"
                  alt=" "
                  class="icon collapsible__icon"
                />
              </span>
            </header>
            <div class="collapsible__content">
              <ul class="footer--list">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Knowledge Base</a></li>
                <li><a href="#">Forums</a></li>
                <li><a href="#">System Status</a></li>
                <li><a href="#">Web Hosting</a></li>
                <li><a href="#">DreamCompute</a></li>
              </ul>
            </div>
          </article>
        </div>
        <div class="footer__collapsible">
          <article class="collapsible">
            <header class="collapsible__header">
              <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
              <span class="footer__icon">
                <img
                  src="./public/icons/chevron.svg"
                  alt=" "
                  class="icon collapsible__icon"
                />
              </span>
            </header>
            <div class="collapsible__content">
              <ul class="footer--list">
                <li><a href="#">Domain Checker</a></li>
                <li><a href="#">Domain Transfer</a></li>
                <li><a href="#">Free Domain</a></li>
                <li><a href="#">XYZ Domain</a></li>
                <li><a href="#">Cheap SSL Certificate</a></li>
              </ul>
            </div>
          </article>
        </div>
      </article>
    </footer>