<section class="block">
  <header class="block__header">
    <h2 class="block__heading">What our Customer are Saying</h2>
    <p>
      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
      accumsan.
    </p>
  </header>
  <article class="container card testimonial block-testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__header">
        <img
          src="./public/images/testimonial.jpg"
          alt="A happy, smiling customer."
          class="testimonial__img"
        />
        <span class="icon-contianer">
          <svg class="icon icon--primary">
            <use xlink:href="./public/images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote testimonial__body">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In doloribus
          distinctio velit alias vitae inventore recusandae, unde accusantium
          fuga et quam iusto harum! Voluptatem vitae minima pariatur earum autem
          obcaecati!
        </p>
        <footer>
          <div class="media">
            <div class="media__img">
              <svg class="icon icon--primary">
                <use xlink:href="./public/images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Jhone Lumeo</h3>
              <div class="quote__company">Mosh Company ceo</div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </article>
</section>
