 <section class="block block--dark block--skewed-right block-showcase">
      <header class="block__header  "><h2 class="block__heading">User-Friendly Control Panel</h2></header>
      <article class="grid grid--1x2 showcase">
        <div class="showcase__banner">
          <picture class="showcase__img">
            <source
              type="image/webp"
              srcset="
                ./public/images/ipad@1x.webp  570w,
                ./public/images/ipad@2x.webp 1140w
              " />
            <source
              type="image/png"
              srcset="
                ./public/images/ipad@1x.png  570w,
                ./public/images/ipad@2x.png 1140w
              " />

            <img src="./public/images/ipad@2x.png" alt=" "
          /></picture>
        </div>
        <div class="showcase__content">
          <ul class="showcase__list">
            <li>
              <div class="media">
                <div class="media__img">
                  <svg class="icon icon--primary">
                    <use xlink:href="./public/images/sprite.svg#settings"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title">Easy Start & Managed Updates</h3>
                  <p>
                    Our cloud plans include easy onboarding for new and existing
                    sites and managed WordPress and WooCommerce auto-updates.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <div class="media__img">
                  <svg class="icon icon--primary">
                    <use xlink:href="./public/images/sprite.svg#growth"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title">Staging, Git & WP-CLI</h3>
                  <p>
                    We make your WordPress and WooCommerce development flow
                    easier with a convenient staging tool and Git and WP-CLI
                    integration.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <div class="media__img">
                  <svg class="icon icon--primary">
                    <use xlink:href="./public/images/sprite.svg#wordpress"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title">Dynamic Caching & More</h3>
                  <p class="showcase__text">
                    Speed up your WordPress and Woo sites with our SG Optimizer
                    plugin through smart dynamic caching and multiple other
                    performance optimizations.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </article>
    </section>