<section class="block container">
      <header class="block__header">
        <h2 class="block__heading">Host Оn Тhe Cloud to Keep Growing</h2>
        <p class="">
          Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
          maecenas accumsan.
        </p>
      </header>
      <article class="grid grid--1x2 features features--easy">
        <div class="features--content">
          <div class="features__icon">
            <span class="icon-contianer">
              <svg class="icon icon--primary">
                <use xlink:href="./public/images/sprite.svg#easy"></use>
              </svg>
            </span>
          </div>
          <div class="features__header">
            <h3 class="features__heading">Super Easy to Use</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
              accumsan lacus vel facilisis.
            </p>
          </div>
          <div>
            <a href="#" class="link-arrow"> Learn More </a>
          </div>
        </div>
        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                ./public/images/easy@1x.webp  570w,
                ./public/images/easy@2x.webp 1140w
              "
            />
            <source
              type="image/png"
              srcset="
                ./public/images/easy@1x.png  570w,
                ./public/images/easy@2x.png 1140w
              "
            />
            <img
              src="./public/images/easy@2x.png"
              alt=" "
              class="features__img"
            />
          </picture>
        </div>
      </article>
      <article class="grid grid--1x2 features features--fast">
        <div class="features--content">
          <div class="features__icon">
            <span class="icon-contianer">
              <svg class="icon icon--primary">
                <use xlink:href="./public/images/sprite.svg#computer"></use>
              </svg>
            </span>
          </div>
          <div class="features__header">
            <h3 class="features__heading">Simply fast websites</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
              accumsan lacus vel facilisis.
            </p>
          </div>
          <div>
            <a href="#" class="link-arrow"> Learn More </a>
          </div>
        </div>
        <div class="features--img">
          <picture>
            <source
              type="image/webp"
              srcset="
                ./public/images/fast@1x.webp  570w,
                ./public/images/fast@2x.webp 1140w
              "
            />
            <source
              type="image/jpg"
              srcset="
                ./public/images/fast@1x.jpg  570w,
                ./public/images/fast@2x.jpg 1140w
              "
            />
            <img
              src="./public/images/fast@2x.jpg"
              alt=" "
              class="features__img"
            />
          </picture>
        </div>
      </article>
      <article class="grid grid--1x2 features features--wordpress">
        <div class="features--content">
          <div class="features__icon">
            <span class="icon-contianer">
              <svg class="icon icon--primary">
                <use xlink:href="./public/images/sprite.svg#settings"></use>
              </svg>
            </span>
          </div>
          <div class="features__header">
            <h3 class="features__heading">WordPress made easy</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
              accumsan lacus vel facilisis.
            </p>
          </div>
          <div>
            <a href="#" class="link-arrow"> Learn More </a>
          </div>
        </div>
        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                ./public/images/wordpress@1x.webp  570w,
                ./public/images/wordpress@2x.webp 1140w
              "
            />
            <source
              type="image/jpg"
              srcset="
                ./public/images/wordpress@1x.jpg  570w,
                ./public/images/wordpress@2x.jpg 1140w
              "
            />
            <img
              src="./public/images/wordpress@2x.jpg"
              alt=" "
              class="features__img"
            />
          </picture>
        </div>
      </article>
      <article class="grid grid--1x2 features features--wordpress">
        <div class="features--content">
          <div class="features__icon">
            <span class="icon-contianer">
              <svg class="icon icon--primary">
                <use xlink:href="./public/images/sprite.svg#clock"></use>
              </svg>
            </span>
          </div>
          <div class="features__header">
            <h3 class="features__heading">24/7 Expert Support</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
              accumsan lacus vel facilisis.
            </p>
          </div>
          <div>
            <a href="#" class="link-arrow"> Learn More </a>
          </div>
        </div>
        <div>
          <picture>
            <source
              type="image/webp"
              srcset="
                ./public/images/support@1x.webp  570w,
                ./public/images/support@2x.webp 1140w
              "
            />
            <source
              type="image/jpg"
              srcset="
                ./public/images/support@1x.jpg  570w,
                ./public/images/support@2x.jpg 1140w
              "
            />
            <img
              src="./public/images/support@2x.jpg"
              alt=" "
              class="features__img"
            />
          </picture>
        </div>
      </article>
    </section>