<div class="callout" style="margin: 3rem">
  <article class="card card--primary grid grid--1x2">
    <div class="callout__content">
      <div class="card__header callout__header">
        <h2 class="callout__heading">Ready To Get Started?</h2>
      </div>
      <div class="card__body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
          delectus molestiae unde numquam vel non asperiores nobis libero
        </p>
      </div>
    </div>
    <div class="card__footer">
      <button class="btn btn--secondary btn--stretched">buy now</button>
    </div>
  </article>
</div>
