<article class="card card--popular card--secondary">
  <div class="card__header card--img-top"></div>
  <div class="card__body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae delectus
      molestiae unde numquam vel non asperiores nobis libero dicta vero odit
      perspiciatis rem doloremque harum et, laborum rerum dolorum itaque!
    </p>
  </div>
  <div class="card__footer">
    <button class="btn btn--outline btn--block">buy now</button>
  </div>
</article>
<article class="card card--primary">
  <div class="card__header">
    <h2>Ready To Get Started?</h2>
  </div>
  <div class="card__body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae delectus
      molestiae unde numquam vel non asperiores nobis libero dicta vero odit
      perspiciatis rem doloremque harum et, laborum rerum dolorum itaque!
    </p>
  </div>
  <div class="card__footer">
    <button class="btn btn--secondary">buy now</button>
  </div>
</article>