<article class="collabsible">
      <header class="collabsible__header">
        <h2 class="collabsible__heading">Item 1</h2>
        <span class="icon-contianer">
          <img src="./public/icons/chevron.svg" alt=" " class="icon collabsible__icon" />
        </span>
      </header>
      <div class="collabsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fuga,
        placeat iusto sit iure totam, consequatur soluta eum ea deleniti id esse
        nesciunt, neque earum voluptates. Vitae ab laboriosam hic.
      </div>
    </article>