<article class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-contianer">
      <img
        src="./public/icons/chevron.svg"
        alt=" "
        class="icon collapsible__icon"
      />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fuga, placeat
    iusto sit iure totam, consequatur soluta eum ea deleniti id esse nesciunt,
    neque earum voluptates. Vitae ab laboriosam hic.
  </div>
</article>
