<span class="icon-contianer">
  <svg class="icon icon--primary">
    <use xlink:href="./public/images/sprite.svg#quotes"></use>
  </svg>
</span>
<svg class="icon">
  <use xlink:href="./public/images/sprite#quotes"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#search"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#settings"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#snap"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#tick"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#wordpress"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#chevron"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#clock"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#computer"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#easy"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#growth"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#line"></use></svg
><svg class="icon">
  <use xlink:href="./public/images/sprite#menu"></use>
</svg>
