 <nav class="navbar collapsible">
      <a href="/"
        class="navbar__brand"><img
          src="./public/icons/logo.svg"
          alt="A beautifull Moshify text by white color, symbolic logo looks symboal 'M' accoliction of dodgerblue and tomato color "
      /></a>
      <svg class="icon navbar__icon"">
        <use xlink:href="./public/images/sprite.svg#menu"></use>
      </svg>
      <ul class="navbar__list collapsible__content">
        <li class="navbar__item"><a href="#">Hosting</a></li>
        <li class="navbar__item"><a href="#">SVP</a></li>
        <li class="navbar__item"><a href="#">Domian</a></li>
        <li class="navbar__item"><a href="#">Pricing</a></li>
      </ul>
    </nav>