<section class="block block--dark block--skewed-left hero">
  <article class="grid grid--1x2 container hero__grid">
    <header class="block__header hero__content">
      <h1 class="block__heading hero__heading">Cloud Hosting for Pros</h1>
      <p class="hero__text">Deploy your website in less than 60 seconds.</p>
      <a href="#" class="btn btn--accent btn--stretched">get satrted</a>
    </header>
    <div>
      <picture>
        <source
          type="image/webp"
          srcset="./public/images/banner@.webp 570w,
                      ./public/images/banner@2x,webp 1140"
        />
        <source
          type="image/png"
          srcset="
            ./public/images/banner@.png    570w,
            ./public/images/banner@2x.png 1140w
          "
        />
        <img src="./public/images/banner@.png" alt=" " class="hero__banner" />
      </picture>
    </div>
  </article>
</section>
