<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia sed
    distinctio cupiditate molestias? Omnis nisi fugiat eveniet sit. Pariatur,
    magnam.
  </p>
  <footer>
    <div class="media">
      <div class="media__img">
        <svg class="icon icon--primary">
          <use xlink:href="./public/images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <div class="quote__company">Mosh Company ceo</div>
      </div>
    </div>
  </footer>
</blockquote>
