*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #918ca4;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3 {
  color: #1b0760;
  margin: 1rem 0;
}

h1 {
  font-size: 7rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 2.4rem;
  }
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.link-arrow {
  color: #ff3400;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.25s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

.badges {
  border-radius: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .badges {
    font-size: 1.2remz;
  }
}

.badge--primary {
  background-color: rgba(243, 249, 250, 0.5647058824);
}

.badge--secondary {
  background-color: #00d9ff;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .badge--secondary {
    font-size: 1.5rem;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  color: #1b0760;
  display: flex;
}

.list--inline {
  flex-direction: row;
}
.list--inline .list__item {
  margin-right: 2rem;
}

.list--tick {
  flex-direction: column;
  list-style-image: url(/public/icons/tick.svg);
  padding: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

.icon {
  width: 4rem;
  height: 4rem;
}

.icon--primary {
  fill: #2584ff;
}

.icon-contianer {
  border-radius: 100%;
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  color: #1b0760;
}
.input::-moz-placeholder {
  font-size: 2rem;
  color: #cdcbd7;
  font-weight: 300;
}
.input::placeholder {
  font-size: 2rem;
  color: #cdcbd7;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .input::-moz-placeholder {
    font-size: 1.5rem;
  }
  .input::placeholder {
    font-size: 1.5rem;
  }
}

.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5px;
  }
}

.btn--secondary {
  background-color: #00d9ff;
  color: #fff;
  text-shadow: 0 0 0 #fff;
  font-weight: bold;
  transition: background 0.15s;
}
.btn--secondary:hover {
  background-color: #00d0f5;
  color: #fafafa;
}

.btn--block {
  width: 100%;
  font-weight: 600;
  display: inline-block;
}

.btn--outline {
  background-color: #fff;
  border: 2px solid #1b0760;
  color: #1b0760;
  transition: background 0.15s;
}
.btn--outline:hover {
  background-color: #1b0760;
  color: #fff;
}

.btn--primary {
  background-color: #1b0760;
  color: #fff;
  transition: background 0.15s;
}
.btn--primary:hover {
  background-color: #180656;
  color: #fafafa;
}

.btn--accent {
  background-color: #ff3400;
  font-weight: bold;
  color: #fff;
  transition: background 0.15s;
}
.btn--accent:hover {
  background-color: #f53200;
  color: #fafafa;
}

.input-group {
  border-radius: 30px;
  display: flex;
  box-shadow: 0 0 30px #ccc;
}
.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}/*# sourceMappingURL=style.css.map */