*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: #918ca4;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  min-width: 100vw;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3 {
  color: #1b0760;
  margin: 1rem 0;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 2.4rem;
  }
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

.link-arrow {
  color: #ff3400;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.25s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

.badges {
  border-radius: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .badges {
    font-size: 1.2rem;
  }
}

.badge--primary {
  margin-left: 5px;
}

.badge--secondary {
  background-color: #00d9ff;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .badge--secondary {
    font-size: 1.5rem;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  color: #1b0760;
  display: flex;
}

.list--inline {
  flex-direction: row;
}
.list--inline .list__item {
  margin-right: 2rem;
}

.list--tick {
  flex-direction: column;
  list-style-image: url(/public/icons/tick.svg);
  padding: 0 3rem;
  font-weight: 600;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

.icon {
  width: 4rem;
  height: 4rem;
}

.icon--primary {
  fill: #2584ff;
}

.icon--white {
  fill: #fff;
}

.icon-contianer {
  border-radius: 100%;
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  color: #1b0760;
}
.input::-moz-placeholder {
  font-size: 2rem;
  color: #cdcbd7;
  font-weight: 300;
}
.input::placeholder {
  font-size: 2rem;
  color: #cdcbd7;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .input::-moz-placeholder {
    font-size: 1.5rem;
  }
  .input::placeholder {
    font-size: 1.5rem;
  }
}

.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--secondary {
  background-color: #00d9ff;
  color: #fff;
  text-shadow: 0 0 0 #fff;
  font-weight: bold;
  transition: background 0.15s;
}
.btn--secondary:hover {
  background-color: #00d0f5;
  color: #fafafa;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  font-weight: 600;
  display: inline-block;
}

.btn--outline {
  background-color: #fff;
  border: 2px solid #1b0760;
  color: #1b0760;
  transition: background 0.15s;
}
.btn--outline:hover {
  background-color: #1b0760;
  color: #fff;
}

.btn--primary {
  background-color: #1b0760;
  color: #fff;
  transition: background 0.15s;
}
.btn--primary:hover {
  background-color: #180656;
  color: #fafafa;
}

.btn--accent {
  background-color: #ff3400;
  font-weight: bold;
  color: #fff;
  transition: background 0.15s;
}
.btn--accent:hover {
  background-color: #f53200;
  color: #fafafa;
}

.input-group {
  border-radius: 30px;
  display: flex;
}
.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}
.input-group .btn {
  margin: 4px;
}

.card {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card--popular .card__body, .card--secondary .card__body {
  padding: 0 4.5rem;
}
.card--popular .card__footer, .card--secondary .card__footer {
  padding: 2rem 4.5rem;
}
.card--popular .card--img-top, .card--secondary .card--img-top {
  background-color: #2584ff;
  margin-bottom: 3rem;
  padding: 1rem;
}
.card--popular .badge--primary, .card--secondary .badge--primary {
  background: #126de4;
}

.card--secondary .card--img-top {
  background-color: #00d9ff;
}
.card--secondary .badge--primary {
  background: #02cdf1;
}

.card--primary {
  background-color: #2584ff;
  padding: 6rem;
  box-shadow: none;
}

.plans {
  margin: 2rem;
  transition: transform 0.3s ease-out;
}
.plans .card__header {
  padding: 3rem;
}
.plans .btn {
  padding: 2rem 0;
}
.plans:hover {
  transform: scale(1.05);
}

.plan__name {
  color: #fff;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}

.plan__billing-cycle {
  color: #fff;
  opacity: 0.8;
}

.plan__description {
  color: #fff;
  font-size: 2rem;
}

.plan--popular {
  transform: scale(1.1);
}
.plan--popular:hover {
  transform: scale(1.15);
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(/public/icons/popular.svg);
  width: 40px;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin-left: 2rem;
}
.media__img {
  margin-top: 1.5rem;
}

.quote {
  font-size: 3rem;
  font-style: italic;
  color: #5c5577;
  line-height: 1.3;
}
.quote__text::after {
  content: close-quote;
}
.quote__text::before {
  content: open-quote;
}
.quote .media__img {
  margin: 0;
}
.quote__company {
  color: #1b0760;
  font-size: 2rem;
  opacity: 40%;
  font-style: normal;
}
.quote__author {
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2.4rem;
  }
  .quote__company {
    font-size: 1.6rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
}
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.testimonial {
  margin: 3rem;
}
.testimonial__img {
  height: 100%;
  width: 100%;
}
.testimonial__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial__header {
  position: relative;
  padding: 1rem 6rem;
}
.testimonial__header .icon-contianer {
  position: absolute;
  top: 3rem;
  right: 32px;
  background-color: #ff3400;
}
.testimonial__header .icon-contianer .icon {
  fill: #fff;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .testimonial__header {
    padding: 3rem;
  }
  .testimonial__header .icon-contianer {
    right: 0;
    top: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .testimonial .quote {
    font-size: 2.4rem;
    margin-left: 6rem;
  }
  .testimonial .quote__company {
    font-size: 1.6rem;
  }
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
}

.callout .card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.callout__heading, .callout__content {
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .callout__heading, .callout__content {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout .card__footer {
    justify-content: start;
    margin-left: 2rem;
  }
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__icon {
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.block {
  padding: 6rem 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: #000;
  color: #7b858b;
}

.block--skewed-right {
  padding-bottom: 10rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: 10rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navbar .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
  .navbar .navbar__icon {
    display: none;
  }
  .navbar .navbar__list {
    width: auto;
    display: flex;
  }
  .navbar .navbar__item {
    border: none;
    font-size: 1.6rem;
  }
}
.navbar__icon {
  fill: #fff;
  margin: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.25s;
}
.navbar__list {
  width: 100%;
  list-style: none;
  padding: 0;
}
.navbar__item {
  border-bottom: 1px solid #222;
  padding: 0.5rem 2rem;
}
.navbar__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.navbar__item > a:hover {
  color: #fff;
}
.navbar__brand {
  transform: translateY(5px);
}

.collapsible--expanded .navbar__icon {
  opacity: 1;
  box-shadow: 0 0 10px 2px #666;
  border-radius: 5px;
}

.hero {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.hero__heading {
  font-size: 5rem;
  color: #fff;
}
.hero__text {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__banner {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
  }
  .hero__heading {
    font-size: 7rem;
  }
  .hero__grid {
    align-items: center;
  }
}
.domain__heading {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.domain__text {
  font-size: 2rem;
}
.domain__input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  margin: 4rem auto;
}
@media screen and (min-width: 768px) {
  .domain__input-group {
    max-width: 670px;
  }
}
.domain__list {
  padding: 0;
  list-style-type: none;
  font-size: 2rem;
  color: #1b0760;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .domain__list {
    font-size: 1.5rem;
    max-width: 730px;
  }
}
.domain__list .domain__item {
  white-space: nowrap;
  margin: 0 1rem;
  padding: 1rem;
}

.grid--2x3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  margin: 4rem auto;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .grid--2x3 {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: 6rem;
  }
}

.block-plan .card {
  max-width: 500px;
  margin: 2rem auto;
}
.block-plan__header {
  white-space: nowrap;
}

.features {
  gap: 4rem 2rem;
  margin: 12rem 0;
}
.features__img {
  width: 100%;
}
.features--easy {
  margin-top: 9rem;
}

@media screen and (min-width: 768px) {
  .features:nth-child(even) .features--content {
    order: 2;
  }
  .features--easy {
    margin-top: 5rem;
  }
}/*# sourceMappingURL=style.css.map */